<% provide(:title, "About") %>

<h1>About GameHub</h1>
<h3>What is GAMEHUB? </h3>
  <p>GAMEHUB is a videogame information repository that shows the timeline history of videogames
    with detailed information about the games, characters, consoles using the igdb.com API.
    Explore the earliest iterations of the most iconic consoles, get ratings for the latest and
    greatest titles of any system and save it all for later viewing. Users will be to like their
    favorite video games and create a wishlist. Integrated Amazon API will allow users to link
  their wishlist items to products purchasable on the web.</p>

