<% provide(:title, "Home") %>
<div class="home-container">
  <div class="welcome-logo"><h1>Welcome to GAMEHUB</h1></div><br />
  <h3><%= link_to "Explore a platform", platforms_path %></h3>
  <%= link_to "Sign Up", signup_path , class: "btn btn-lg btn-primary" %>
</div>

