<div class="horizontal-scroll-wrapper squares">

  <!-- Item 1 -->
  <div class="flip-container platform-item" id="platform-item-1" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
        <!-- back content -->
        <h1>Nintendo Entertainment System</h1>
      </div>
    </div>
  </div>
    <!-- Item 2 -->
  <div class="flip-container platform-item" id="platform-item-2" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
        <!-- back content -->
        <h1>Game Boy</h1>
      </div>
    </div>
  </div>

    <!-- Item 3 -->
  <div class="flip-container platform-item" id="platform-item-3" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
        <!-- back content -->
        <h1>Super Nintendo Entertainment System</h1>
      </div>
    </div>
  </div>

    <!-- Item 4 -->
  <div class="flip-container platform-item" id="platform-item-4" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
        <!-- back content -->
        <h1>Nintendo 64</h1>
      </div>
    </div>
  </div>

    <!-- Item 5 -->
  <div class="flip-container platform-item" id="platform-item-5" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
        <!-- back content -->
        <h1>Game Boy Color</h1>
      </div>
    </div>
  </div>

    <!-- Item 6 -->
  <div class="flip-container platform-item" id="platform-item-6" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
        <!-- back content -->
        <h1>Game Boy Advance</h1>
      </div>
    </div>
  </div>

    <!-- Item 7 -->
  <div class="flip-container platform-item" id="platform-item-7" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
        <!-- back content -->
        <h1>GameCube</h1>
      </div>
    </div>
  </div>

    <!-- Item 8 -->
  <div class="flip-container platform-item" id="platform-item-8" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
        <!-- back content -->
        <h1>Nintendo DS</h1>
      </div>
    </div>
  </div>

    <!-- Item 9 -->
  <div class="flip-container platform-item" id="platform-item-9" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
        <!-- back content -->
        <h1>Wii</h1>
      </div>
    </div>
  </div>

    <!-- Item 10 -->
  <div class="flip-container platform-item" id="platform-item-10" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
        <!-- back content -->
        <h1>Nintendo 3DS</h1>
      </div>
    </div>
  </div>

    <!-- Item 11 -->
  <div class="flip-container platform-item" id="platform-item-11" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <!-- front content -->
      </div>
      <div class="back">
        <!-- back content -->
        <h1>WiiU</h1>
      </div>
    </div>
  </div>

<!--   <div class="platform-item" id="platform-item-2"></div>

  <div class="platform-item" id="platform-item-3"></div>

  <div class="platform-item" id="platform-item-4"></div>

  <div class="platform-item" id="platform-item-5"></div>

  <div class="platform-item" id="platform-item-6"></div>

  <div class="platform-item" id="platform-item-7"></div>

  <div class="platform-item" id="platform-item-8"></div>

  <div class="platform-item" id="platform-item-9"></div>

  <div class="platform-item" id="platform-item-10"></div>

  <div class="platform-item" id="platform-item-11"></div> -->

</div>



