@import "bootstrap-sprockets";
@import "bootstrap";
body {
  padding-top: 50px;
}
.footer {
  padding-top: 35px;
  border-top: 1px solid black;
  text-align: center;
}
.footer span {
  float: right;
}
.gh-logo {
  color:white;
  padding-top: 12px;
  font-size: 20px;
  letter-spacing: 2px;
}
input, textarea, select {
  margin-bottom: 15px;
  width: 100%;
}
